.verde
{
    background-color: lightgrey;
    width: 200px;
    height: 100px;
    color: green;

}
.blue
{
    background-color: lightpink;
    width: 200px;
    height: 100px;
    color: blue;
    
}